.real-mission {
    margin-top: 9rem;
    height: auto;
    width: 100%;

    
}
.mission-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 63px;
    line-height: 63px;
    color: #343232;
}
.big{
    margin-left: 15px;
    color: #8CB561;

}
.video{
    height: 13.5rem;
    width: 24rem;
}
@media(max-width:1000px)
{
    .mission-title{
        font-size: 40px;
    }
}
@media(min-width:500px){
    .video{
        height: 18.9rem;
        width: 33.6rem;
    }
}
@media(min-width:800px){
    .video{
        height: 27rem;
        width: 48rem;
    }
}